/* About Page Styles */
.about-page {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.glass-container {
  margin-top:50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 1200px;
  padding: 40px;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.about-content {
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
}
body, html {
  background-color: #121212; /* Dark background color */
  color: white; /* Text should be white on dark background */
  height: 100%;
}
h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  background: linear-gradient(90deg, #bdbdbd, #f7ebeb);
  -webkit-background-clip: text;
  background-clip: none;
  color: transparent;
}

p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.8);
}

.glow {
  color: #fff;
  text-shadow: 0 0 8px #fff9ef, 0 0 20px #ffffff, 0 0 30px #ffffff;
  animation: glow 1.5s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 8px #e9e7e5, 0 0 20px #ffffff, 0 0 30px #ffffff;
  }
  to {
    text-shadow: 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 40px #ffffff;
  }
}

.gif-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
  transition: all 0.3s ease;
}

.about-gif {
  width: 300px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
}

.about-gif:hover {
  transform: scale(1.05);
}

.footer {
  margin-top: 10px;
  width: 100%;
}

/* Responsive Styles */
@media (max-width: 1200px) {
  .glass-container {
    width: 90%;
    padding: 30px;
  }

  h1 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.1rem;
  }

  .about-gif {
    width: 180px;
  }
}

@media (max-width: 768px) {
  .glass-container {
    width: 95%;
    padding: 25px;
  }

  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }

  .gif-container {
    flex-direction: column;
  }

  .about-gif {
    width: 150px;
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .glass-container {
    padding: 20px;
  }

  h1 {
    font-size: 1.8rem;
  }

  p {
    font-size: 0.9rem;
  }

  .about-gif {
    width: 120px;
  }
}